server:
  port: 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      ## Movie Service route
      routes[0]:
        id: movies-service
        uri: lb://movies-service
        predicates:
        - Path=/api/v1/films/**
        filters:
        - RewritePath=/api/v1/films/(?<path>.*), /$\{path}
      ## Movie Service Swagger UI route
      routes[1]:
        id: movies-service-ui
        uri: lb://movies-service
        predicates:
          - Path=/movies-service/**
        filters:
          - RewritePath=/movies-service/(?<path>.*), /$\{path}
      ## Access Key Service route
      routes[2]:
        id: access-key-service
        uri: lb://access-key-service
        predicates:
        - Path=/api/v1/keys/**
        filters:
        - RewritePath=/api/v1/keys/(?<path>.*), /$\{path}
      ## Access Key Service Swagger UI route
      routes[3]:
        id: access-key-service-ui
        uri: lb://access-key-service
        predicates:
          - Path=/access-key-service/**
        filters:
          - RewritePath=/access-key-service/(?<path>.*), /$\{path}
      ## Discover Service route
      routes[4]:
        id: discovery-service
        uri: http://localhost:8761
        predicates:
        - Path= /eureka/web/**
        filters:
        - SetPath=/
      ## Swagger UI route
      routes[5]:
          id: openapi
          uri: http://localhost:${server.port}
          predicates:
          - Path=/v3/api-docs/**
          filters:
          - RewritePath=/v3/api-docs/(?<path>.*), /$\{path}/v3/api-docs

logging:
  level:
    root: info

eureka:
  client:
    service-url:
      default-zone: http://localhost:8716/eureka

springdoc:
  swagger-ui:
    url: /v3/api-docs
    urls:
      - url: /movies-service/v3/api-docs
        name: Movies Service
      - url: /access-key-service/v3/api-docs
        name: Access Key Service
