spring:
  application:
    name: movies-service

server:
  port: ${SERVICE_PORT:0}

eureka:
  instance:
    instance-id: ${spring.application.name}:${random.value}
    preferIpAddress: true
  client:
    fetch-registry: true
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761}/eureka