spring:
  application:
    name: movies-service
    id:

server:
  port: ${SERVICE_PORT:0}

eureka:
  instance:
    instance-id: ${spring.application.name}:${random.value}
  client:
    service-url:
      default-zone: ${DISCOVERY_SERVICE_URL:http://localhost:8761}/eureka