server:
  port: 8761

spring:
  application:
    name: discovery-service

eureka:
  instance:
    preferIpAddress: true
  client:
    register-with-eureka: false
    fetch-registry: false
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8080}/eureka/