management:
  zipkin:
    tracing:
      endpoint: http://127.0.0.1:9411/api/v2/spans
  tracing:
    sampling:
      probability: 1.0

spring:
  application:
    name: access-key-service

server:
  port: ${SERVICE_PORT:0}

eureka:
  instance:
    instance-id: ${spring.application.name}:${random.value}
    preferIpAddress: true
  client:
    service-url:
      defaultZone: ${DISCOVERY_SERVICE_URL:http://localhost:8761}/eureka/
    fetch-registry: true

access-key:
  keys:
    - 975b2840-2978-4414-b7cc-8275c3c2161d
    - 8267c06f-f61f-4640-b46d-acd09b3e7283
    - dcd7d5eb-39a5-422c-9f21-3ff5b55b8a2a
    - 6b671100-9869-4344-9829-e6a671b24796
